#app-container {
  width: 100vw;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr;

  overflow: hidden;
}

#app {
  font-family: 'futura-pt', Futura, sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;

  display: grid;
  grid-template-columns: 100vw;
}


